body {
  color: #4a869e;
  font-family: sans-serif;
  text-align: center;
}

.calculator {
  font-size: 28px;
  margin: 0 auto;
  width: 10em;
}

.viewer {
  color: #c97874;
  float: left;
  line-height: 3em;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 7.5em;
  height: 3em;
}

button {
  border: 0;
  background: rgba(42, 50, 113, 0.28);
  color: #6cacc5;
  cursor: pointer;
  float: left;
  font: inherit;
  margin: 0.25em;
  width: 2em;
  height: 2em;
  transition: all 0.5s;
}

button:hover {
  background: #201e40;
  color: white;
}

button:focus {
  outline: 0;
}
