/* header {
  background-color: cornflowerblue;
} */
/* #first_section_inline_element {
  position: absolute;
  background-color: cornflowerblue;
} */

/* .prva_lista {
  position: relative;
  overflow: auto;
} */

#body {
  background: cornflowerblue;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 118px;
  display: block;
  background-color: cornflowerblue;
}

.inner_header {
  width: 1800px;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: cornflowerblue;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1 {
  color: black;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 200;
}

.logo_container h1 span {
  font-weight: 800;
}

.navigation {
  float: right;
  height: 100%;
}
.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a:last-child {
  padding-right: 0;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: rebeccapurple;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* 
#logo_button {
  position: absolute;
}

#home_button {
  position: absolute;
  left: 800px;
}

#Cicero {
  color: chocolate;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  top: 50px;
  left: 930px;
}

#Aboutus {
  position: absolute;
  width: 1200px;
  left: 1050px;
  top: 10px;
}

#Zokta {
  color: chocolate;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  top: 50px;
  left: 1143px;
}

#gallery {
  position: absolute;
  left: 1290px;
  top: 10px;
}

#Zzz {
  color: chocolate;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  top: 50px;
  left: 1400px;
}

#contactus {
  position: absolute;
  left: 1500px;
  top: 10px;
}

#zoranibus {
  color: chocolate;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  top: 50px;
  left: 1580px;
} */

/* .prva_lista li {
  float: left;
} */

#loremipsum {
  position: absolute;
  background: white;
  top: 100px;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  box-sizing: border-box;
  text-align: justify;
  position: relative;
  padding: 400px;
  padding-top: 0px;
  font-family: sans-serif;
}

/* #prva_sekcija {
  background-color: blue;
  width: 100%;
  display: inline-block;
} */
/* h1 {
  text-align: center;
  font-size: 24px;
  color: green;
  font-weight: bold;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

#position-example {
  position: absolute;
  top: 118px;
  left: 279px;
}

#position_example_fixed {
  position: fixed;
  top: 300px;
  right: 500px;
}

#position_example_sticky {
  position: sticky;
  top: 135px;
}
h1 .inside {
  color: brown;
}

h1.inside {
  color: aqua;
}

h1 .inside .double-inside {
  color: grey;
}

/* a:hover {
  font-weight: bold;
} */

/* a:active {
  font-weight: bold;
}

input:required {
  border: 2px solid;
}

/* h1.inside.double-inside {
  color: aqua;
} */

/* #main a {
  font-weight: bold;
  color: deeppink;
}

.second {
  color: red;
}

.first {
  color: blue;
}

/* Komentar */
/* #firstID {
  color: yellow;
} */

/* #secondID {
  color: pink;
} */

/* Ctrl ? */
/* 1:26  */
