header {
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#first_section_inline_element {
  position: fixed;
  display: inline;
  background-color: cornflowerblue;
}

/* #prva_sekcija {
  background-color: blue;
  width: 100%;
  display: inline-block;
} */
/* h1 {
  text-align: center;
  font-size: 24px;
  color: green;
  font-weight: bold;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

#position-example {
  position: absolute;
  top: 118px;
  left: 279px;
}

#position_example_fixed {
  position: fixed;
  top: 300px;
  right: 500px;
}

#position_example_sticky {
  position: sticky;
  top: 135px;
}
h1 .inside {
  color: brown;
}

h1.inside {
  color: aqua;
}

h1 .inside .double-inside {
  color: grey;
}

/* a:hover {
  font-weight: bold;
} */

/* a:active {
  font-weight: bold;
}

input:required {
  border: 2px solid;
}

/* h1.inside.double-inside {
  color: aqua;
} */

/* #main a {
  font-weight: bold;
  color: deeppink;
}

.second {
  color: red;
}

.first {
  color: blue;
}

/* Komentar */
/* #firstID {
  color: yellow;
} */

/* #secondID {
  color: pink;
} */

/* Ctrl ? */
/* 1:26  */
